div(class="mdl-layout")
  header(class="mdl-layout__header")
    div(class="mdl-layout__header-row")
      span(class="mdl-layout-title") / Egee |
      //- div(class="mdl-layout-spacer")
      nav(class="mdl-navigation")
        a(class="mdl-navigation__link", href="") Home
        a(class="mdl-navigation__link", href="") Projects
        //- a(class="mdl-navigation__link", href="") Blog

  div(class="mdl-grid")
    //- div(class="mdl-cell mdl-cell--2-col")
    div(class="mdl-cell mdl-cell--12-col mdl-padding")
      p I'm a Coder & YouTuber living in the Pacific Northwest of the USA.

      p Currently focus on coding with C# and Unity, I generally tend to focus on Web & UI Design, as well as Website & Program Development.

      p I'm a regular on GitHub, and contribute to projects wherever I can. You can check those out here.
      p If you'd like to check out some of my past projects, check out my Portfolio.
      hr
      i(class="fa fa-twitter fa-3x" aria-hidden="true")
      i(class="fa fa-github-alt fa-3x" aria-hidden="true")
      i(class="fa fa-youtube-play fa-3x" aria-hidden="true")
